

{% extends 'base.html' %}

{% block content %}
<div class="container">

        <div class="card">
            <div class="card-body"> 
        <form method='POST'>
            {% csrf_token %}
            <table class="table table-grey" width="500">
                {{form.as_table}}
            </table>
            <br>
            <div style="text-align:right">
            <input class="btn btn-outline-secondary" type="submit" value="제출하기">
            </div>
        </form>
        </div>
        </div>
        </div>
{% endblock %}
